@media screen and  (max-width: 769px), screen and (max-height: 700px) {

/*#region nav*/
    nav{
        z-index: 999;
        height: 10vh;
        justify-content: center;
        text-align: center;
    }
    #logo{
        width: 25%;
        height: auto;   
        margin-right: auto;
        margin-left: 2vw;
        margin-top: 2vh;
        position: absolute;
        top: 0vh;
        left: 4vw;
    }
    nav ul{
        margin-right: 0vw;
        padding-left: 0vw;
    }
    nav li{
        list-style-type: none;
        display: inline-block;
        margin: 3vh 0vw 3vh 0vw;
        color: var(--navLinks);
        font-family: Texto;
        font-size: 1.5rem;
        display: none;
    }
    nav li:hover{
        background-size: 100% 2px;
        cursor: pointer;
    }
    nav svg{
        fill: white;
        height: 25px;
        width: auto;
        display: inline;
        cursor: pointer;
        position: fixed;
        top: 2vw;
        right: 2vw;
    }
    
    .navToggleOn{
        background-color: transparent;
    }
    .navToggleOn img{
        width: 12% !important;   
    }
    .navToggleOff{
        background-color: transparent;
    }
/*#endregion nav*/


/*#region landing*/
    #landing h1{
        font-size: 3rem;
    }
    #landing p{
        width: 98%;
        font-size: 1.0rem;
    }
    #landing img{
        width: 5%;
        height: auto;
        bottom: 0;
    }
    
/*#endregion landing*/

/*#region faq*/
    #faq h1{
        font-size: 3rem
    }

    .faq-text-container{
        margin: 5vh 0vw 5vh 0vw;
        padding: auto;
        width: 100%;
    }
    .faq-text-container p{
        font-family: Texto;
        font-size: 1rem;
        width: 100%;
    }
/*#endregion faq*/


/*#region events*/
    #upcoming-events h1{
        font-size: 3rem;
    }   
    #main-card{
        width: 80vw;
        object-fit:scale-down;
        height: auto;
    }
    #events-saber-mais{
        font-size: 1.1rem;
    }

/*#endregion events*/


/*#region partners*/
#partners h1{
    font-size: 2.5rem;
    padding-left: 0%;
}
#partners p{
    font-size: 1.0rem;
    line-height: 170.2%;
    padding-left: 0%;
    width: 98%;
}
#partners button{
    padding: 10px 15px 10px 15px;
    margin-left: 0%;
}
.logo-container{
    height: 30vh;
}
#partners img{
    width: auto;
    height: 50%;
    margin: 3vw;
}

/*#endregion parteners*/


/*#region ourstaff*/
    #our-staff .row{
        width: 100%;
    }
    #our-staff h1{
        font-size: var(--titulosSize);
    }
    .staff-cartao{
        background-color: rgb(255, 255, 255);
        max-width: 90vw;
        min-height: 22vh;
        height: auto;
        overflow: hidden;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .staff-cartao h4{
        color: rgb(15, 15, 15);
        font-family: Titulos;
        font-size: 2rem;
        padding: 0px;
        margin: 0px;
    }
    .staff-cartao p{
        color: rgb(15, 15, 15);
        font-size: 1.2rem;
    }
    .staff-socials img{
        height: auto;
        width: 9%;
        margin: 0vh 1vw 0vh 1vw;
    }
    .staff-socials img:hover{
        cursor: pointer;
    }
/*#endregion ourstaff*/



/*#region footer*/

    footer h1{
        font-size: 3rem;
    }
    footer svg{
        margin: 3vh ;
        width: 8%;
        height: auto;
    }
    footer path{
        fill: white;
    }
    #copyright{
        width: 100%;
        height: auto;
        background-color: #2D2C32;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #copyright p{
        font-family: Texto;
        font-size: 0.5rem;
        padding: 1.5vh 0vw 1.5vh 0vw;
        margin: 0px;
    }
/*#endregion footer*/



}

/* // Medium devices (tablets, less than 992px) */
@media only screen and (min-width:  769.1px) and (max-width: 991.98px){
    
}
  
  
  
/* // Large devices (desktops, less than 1200px) */
@media only screen and (min-width: 769px) and (max-width: 1300.98px) {
    /*#region landing*/
    #landing p{
        width: 40%;
    }
    #landing img{
        width: 2%;
    }
    /*#endregion landing*/


    /*#region faq*/
    
    .faq-text-container{
        padding: 0vh 30% 0vh 30%;
        width: auto;
    }
    /*#endregion faq*/


    /*#region events*/
    #main-card{
        width: 30vw;
        background-color: red;
        height: 30vh;
        overflow: hidden;
        border: solid 3px #487AA9;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        object-fit: cover; 
    }
    /*#endregion events*/

    
    /*#region parteners*/
    #partners h1{
        padding-left: 8%;
    }
    #partners p{
        padding-left: 8%;
        width: 110%;
    }
    #partners button{
        padding: 10px 15px 10px 15px;
        margin-left: 8%;
    }
    #partners img{
        width: auto;
        height: 40%;
        margin: 3vw;
    }
    /*#endregion parteners*/





    
    /*#region ourstaff*/
    #our-staff .row {
        width: 100%;
    }
    .staff-cartao{
        width: 70%;
        max-width: unset;
        max-height: unset;
        height: auto;
        min-height: 25vh;

    }
    
    
    /*#endregion ourstaff*/
}
  

/*IPHONE 5 SPECIFIC*/    

@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    .staff-cartao{
        height: 30vh;
    }
}

